{% extends 'base.html' %}

{% block content %}
<main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <h2>Serve Date: {{ mealplan.date }}</h2>
    <ul>
    {% for recipe in mealplan.recipes.all %}
    <li>
      <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </li>
  {% endfor %}
  </ul>
  </main>
{% endblock content %}
